<br /><br />
<div>
    <div class="row">
        <div class="col-6">
            <img src="~/images/palm4.png" width="525" />
        </div>
        <div class="col-6">
            <p><br /><br /><h3>A Seriously Cool Project</h3><br />
                Fag el-Gamous (which means Way of the Water Buffalo) is a large and important cemetery in Egypt that has been
                under archeological investigation (primarily by BYU researchers) for over 25 years. The excavation has garnered
                international attention because of the interesting insights gained by studying the Fag el-Gamous mummies.
            </p>
            <p>
                During multiple years of study, researchers have excavated more than 1,000 mummies and collected data in field
                notes, spreadsheets, and simple databases about each mummy’s location, physical orientation in the ground, burial
                depth, hair color, wrapping (including information about the textiles used), gender, age, bone (including skull and teeth)
                dimensions, items accompanying the mummy, and more. And, of course, there are many, many photographs. Offsite, researchers
                have performed a variety of analyses on the items excavated including carbon dating, DNA sequencing, and others.
            </p>
        </div>
    </div>
    </div>
    <br /><br />
