<br />
<br />
<div>
    <div class="row">
        <div class="col-6">
            <img src="~/images/palm4.png" width="525" />
        </div>
        <div class="col-6">
            <p>
                <br /><br /><h2>Thank you!</h2>
                <br /><h3>Your Changes Have Been Committed to the Database</h3><br />
            </p>
        </div>
    </div>
</div>
<br />
<br />
