<style>
    div.gallery {
        border: 1px solid #ccc;
    }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 100%;
            height: auto;
        }

    div.desc {
        padding: 15px;
        text-align: center;
    }

    * {
        box-sizing: border-box;
    }

    .responsive {
        padding: 0 6px;
        float: left;
        width: 24.99999%;
    }

    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
<h2>BYU Excavation Image Gallery</h2>
<h4>Images of Actual Findings</h4>
<div class="container">
    <div class="row">


        <div class="responsive">
            <div class="gallery">
                <a target="_blank" asp-controller="Home" asp-action="BurialSummaryAll">

                    <img src="~/images/160-170N 0-10W NW.JPG" width="600" height="400" />
                </a>
                <div class="desc">To learn more see the Records page</div>
            </div>
        </div>


        <div class="responsive">
            <div class="gallery">
                <a target="_blank" asp-controller="Home" asp-action="BurialSummaryAll">

                    <img src="~/images/190-200N 30-40E NE Burial 11 G.jpg" width="600" height="400" />
                </a>
                <div class="desc">To learn more see the Records page</div>
            </div>
        </div>

        <div class="responsive">
            <div class="gallery">
                <a target="_blank" asp-controller="Home" asp-action="BurialSummaryAll">

                    <img src="~/images/190-200N 30-40E NE Burial 18 -- Nail A.jpg" width="600" height="400" />
                </a>
                <div class="desc">To learn more see the Records page</div>
            </div>
        </div>


        <div class="responsive">
            <div class="gallery">
                <a target="_blank" asp-controller="Home" asp-action="BurialSummaryAll">
                    <img src="~/images/25. B.3.32 1401-50N 50-60E NW Burial 18.jpg" width="600" height="400" />
                </a>
                <div class="desc">To learn more see the Records page</div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            . . .
        </div>
    </div>
</div>
<div class="container">
    <div class="row">


        <div class="responsive">
            <div class="gallery">
                <a target="_blank" asp-controller="Home" asp-action="BurialSummaryAll">

                    <img src="~/images/Area 7 -- Stone A.JPG" width="600" height="400" />
                </a>
                <div class="desc">To learn more see the Records page</div>
            </div>
        </div>


        <div class="responsive">
            <div class="gallery">
                <a target="_blank" asp-controller="Home" asp-action="BurialSummaryAll">

                    <img src="~/images/21. B.5.7 140-160N 50-60E NW Burial 28.jpg" width="600" height="500" />
                </a>
                <div class="desc">To learn more see the Records page</div>
            </div>
        </div>

        <div class="responsive">
            <div class="gallery">
                <a target="_blank" asp-controller="Home" asp-action="BurialSummaryAll">
                    <img src="~/images/DSCN0219.JPG" width="600" height="400"/>
                </a>
                <div class="desc">To learn more see the Records page</div>
            </div>
        </div>


        <div class="responsive">
            <div class="gallery">
                <a target="_blank" asp-controller="Home" asp-action="BurialSummaryAll">
                    <img src="~/images/DSCN0220.JPG" width="600" height="400"/>
                </a>
                <div class="desc">To learn more see the Records page</div>
            </div>
        </div>
    </div>
</div>
@*<div class="responsive">
        <div class="gallery">
            <a target="_blank" href="img_mountains.jpg">
                <img src="~/images/Area 7 -- Stone A.JPG" width="600" height="400"/>
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="img_mountains.jpg">
                <img src="~/images/21. B.5.7 140-160N 50-60E NW Burial 28.jpg" width="600" height="500" />
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
    </div>*@