@{
    ViewData["Title"] = "Privacy Policy";
}
<br />
<h1>@ViewData["Title"]</h1>


<p>
    Privacy and security are very important to us. That is why this site employs authentication through a secure login.<br />
    Data can not be updated, deleted, or added without first being an authorized user.
</p>
<p>If you are a researcher or require admin access, please create an account using the Log In tab.</p>
<br />
<br />