@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <div class="container" ></div>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Sorry, you do not have access to this resource. Please log in or create an account</p>
</header>
