@model IEnumerable<Official>

<h4><b>Gender</b></h4>

<a  asp-action="BurialSummaryAll" asp-controller="Home" asp-route-gender="">Clear Filter</a>
<br /><br />

<a asp-action="BurialSummaryAll" asp-controller="Home" asp-route-gender="Male">Male</a>
<br />

<a  asp-action="BurialSummaryAll" asp-controller="Home" asp-route-gender="Female">Female</a>
<br />
<a asp-action="BurialSummaryAll" asp-controller="Home" asp-route-gender="Undetermined">Undetermined</a>
<br /><br />


